@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
}
body{
    background-color: black;
}
nav{
  background: black;
  height: 70px;
  width: 100%;
}
nav ul{
  margin-left: 10px;
}
nav ul li{
  display: inline-block;
  line-height: 70px;
  margin: 0 25px;
  text-align: center;
  font-weight: bolder;
}
a{
  color:  white;
}
a:hover{
  color: #803823;
  transition: all 0.3s ease 0s;
}
.nav_right{
  float: right;
  margin-right: 100px;
}
.photo{
  max-height: 650px;
  max-width: 650px;
  float: right;
  margin-right: 50px;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
}
.content{
  margin-left: 20px;
}
.name{
  color: #803823;
}
h1{
  margin-top: 50px;
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}
p{
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
}
h3{
  margin-bottom: 20px;
  font-size: 30px;
  color: #803823;
}
.text{
  margin-left: 150px;
  font-size: 30px;
  color: #3E7482;
}
@media screen and (max-width:560px){
  .photo{
    display: none;
  }
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  #803823;
  text-align: center;
  line-height: 30px;
}
.shre:hover{
  color: #3E7482;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 720px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
